[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
[Aa]ssets/[Aa]sset[Ss]tore[Tt]ools*
[Aa]ssets/[Rr]ewired
[Aa]ssets/[Tt]ext[Mm]esh\ [Pp]ro
[Aa]ssets/[Ee]ntityCache
[Rr]ewiredBackup
**/.autosave
.vs/

ExportedObj/
.consulo/
.autosave/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.zip
*.7z
*.rar

*.pidb.meta
*.pdb.meta

[Rr]ewired.meta
[Tt]ext[Mm]esh\ [Pp]ro.meta

sysinfo.txt

*.apk
*.unitypackage